{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>KK-Software</h1>
      <p>KK-Software on Kaarle Kailan perustama toiminimi, jonka tarkoitus on tuottaa, markkinoida ja myydä mm sukututkijoiden käyttöön tarkoitettuja ohjelmistoja. Yritys perustettiin, kun Suomen Sukututkimusseuran hallitus päätti 19.9.2000, että seura vetäytyy kokonaan ohjelmakehitystyöstä ja luopuu Sukuohjelmisto-nimestä Kaarle Kailan hyväksi. Sukututkimusseura myy ohjelmistoa Sukututkijankirjakaupan kautta. Tilaamalla ohjelmisto Sukututkimusseuralta tuet myös seuran toimintaa.</p>
      <p>Kaarle Kaila grundade företaget KK-Software sedan Genealogiska samfundet i Finlands styrelse bestämde den 19.9.2000, att samfundet drar sig ur programutvecklingen och överlåter namnet Släktprogrammet/Sukuohjelmisto åt programmets utvecklare Kaarle Kaila. Samfundet säljer Släktprogrammet 2000 i sin bokhandel.</p>
      <h2>Oletko miettinyt ottavasi lainaa?</h1>
          Siinä tapauksessa kannattaa tutustua alla oleviin sivuihin:
          <ul>
            <li><a href="https://www.arkiraha.fi/pikalaina/400-euroa/" class="link">lainaa 400</a></li>
            <li><a href="https://lainaguru.fi/lainaa-500-euroa/" class="link">lainaa 500</a></li>
            <li><a href="https://www.varmalaina.fi/lainaa/lainaa-1000/" class="link">lainaa 1000</a></li>
          </ul> 
          Ota siis laina!

          <h3>KK-Tilit kirjanpito ohjelma Excel 5.0 / 7.0</h3>
          <p>KK-Tilit on Kaarle Kailan tekemä ensisijaisesti pienille Asunto Osakeyhtiöille sovitettu freeware kirjanpitoohjelma. KK-Tilit ohjelmaan saat tutustua rauhassa, mutta jos rupeat tekemään sillä kirjanpitoa oletan, että lähetätä siitä minulle jonkinlaisen (kiitos)viestin. Maksua en enää siitä vaadi vaikka ohjetiedot näin sanovat. Ohjelman aputeksteissä annetaan ohjeita maksun suorittamisesta. Ohjelmat ovat tyypiltään isensäpurkautivia exe tiedostoja jotka puretaan käynnistämällä tiedosto mieluiten tyhjässä hakemistossa.</p>
      </div>
{{ end }}
